<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="La esquina del pana, carniceria, carne, pollo, lanus">
    <meta name="description" content="Somos una carnicería que se destaca por ofrecer cortes frescos y de alta calidad, con un servicio personalizado y el consejo de expertos carniceros">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://kit.fontawesome.com/283daa4351.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="static/images/Logo-la-esquina-del-pana.ico">
    <title>La esquina del pana</title>
</head>
<body>
    <header>
    <!-- Barra de navegación -->
        <nav class="navbar">
            <div class="logo"><img src="../static/images/Logo-la-esquina-del-pana.png" alt="logo"></div>
            <ul class="links">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="productos.html#prod">PRODUCTOS</a></li>
                <li><a href="sobre-nosotros.html#sn">SOBRE NOSOTROS</a></li>
                <li><a href="contactanos.html#ct">CONTÁCTANOS</a></li>
            </ul>

            <a href="https://wa.link/2sgzlv" class="action_btn" target="_blank">HACE TU PEDIDO</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </nav>

    <!-- Menu hamburguesa desplegable -->
        <div class="dropdown_menu">
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="productos.html#prod">PRODUCTOS</a></li>
                <li><a href="sobre-nosotros.html#sn">SOBRE NOSOTROS</a></li>
                <li><a href="contactanos.html#ct">CONTÁCTANOS</a></li>
                <li><a href="https://wa.link/2sgzlv" class="action_btn" target="_blank">HACE TU PEDIDO</a></li>
            </ul>
        </div>
    </header>

    <main>
        <section id="description">
            <h1>Somos la Esquina del Pana</h1>
            <p>Tu lugar de confianza para encontrar cortes frescos, de calidad y con el sabor auténtico que solo un buen carnicero sabe ofrecer.</p>
            <p>Nos especializamos en brindar productos seleccionados con esmero, siempre frescos y listos para llevar a tu mesa</p>

        </section>
    </main>

    <section class="main-title" id="ct">
        <h1>- CONTACTANOS -</h1>
    </section>

    <div>
        <p class="info">Suipacha 2201, Lanus, Buenos Aires</p>
        <p class="info">+541128178012</p>
    </div>

    <!-- Formulario -->
    <form class="contact-form" action="https://formspree.io/f/xdknqppw" method="post">
        <h2>Formulario de Contacto</h2>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" placeholder="Tu nombre" required>
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Tu correo" required>
        <label for="comments">Comentarios:</label>
        <textarea id="comments" name="comments" placeholder="Escribe tus comentarios" rows="4" required></textarea>
        <button type="submit">Enviar</button>
    </form>

    <!-- Footer -->
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../static/images/Logo-la-esquina-del-pana.png" alt="logo">
                    </a>
                </figure>
            </div>


            <div class="box">
                <h2>CONOCE MÁS</h2>
                <p>Seguinos en nuestras redes sociales para conocer nuestras ofertas, promociones y novedades</p>
                <p>¡No te lo pierdas y disfruta de los mejores productos directo a tu mesa!</p>
            </div>

            <div class="box">
                <h2>SEGUINOS EN REDES SOCIALES</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/carnes_elpana2284?igsh=a3dlOTVrM2c2NHgx" class="fa fa-instagram"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <p>&copy; 2024 Carnicería el Pana - Todos los Derechos Reservados</p>
        </div>
    </footer>

    <script src="../static/js/script.js"></script>
</body>

</html>